<%= turbo_frame_tag 'ingredient_form' do %>
  <div class='card-custom mb-4'>
    <div class='border-top-radius card-header text-center' style="background-color:#4a7de9; color:white; border-radius: 15px 15px 0 0;">
      <h2><%= t('form.new.add') %></h2>      
    </div>
    <div class='card-body text-bg-light d-flex justify-content-center' style='border-radius: 0 0 15px 15px; color:white'>
      <div class='form-horizontal'>
        <%= simple_form_for :ingredient, url: recipe_ingredients_path(@recipe, @ingredient), defaults: { required: false } do |f| %>
          <%= f.input :recipe_id,
                              as: :hidden,
                              input_html: { value: @recipe.id } %>
          <div class='row m-1'>
            <div class='col-3'>
              <div class='input-group mb-3'>
                <%= f.input :quantity,
                            as: :integer,
                            input_html: { class: 'form-control' },
                            required: true %>
              </div>
            </div>
            <div class='col-2'>
              <div class='input-group mb-3'>
                <%= f.input :unity,
                            input_html: { class: 'form-control' },
                            required: true %>
              </div>
            </div>
            <div class='col-5'>
              <div class='input-group mb-3'>
                <div class='w-100'>
                  <%= f.input :name,
                              input_html: { class: 'form-control' },
                              required: true %>
                </div>
              </div>
            </div>
            <div class='col'>
              <div class='d-flex justify-content-center align-items-center h-100'>
                <div class='d-flex justify-content-center'>
                  <%= f.button :submit, "+", class: 'btn btn-primary mt-2 rounded-circle' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
