<div class='d-flex justify-content-center align-items-center'>
  <div class='row w-75'>
    <div class='col'>
      <%= render partial: 'recipes/shared/form_recipe' %>
    </div>
    <div class='col'>
      <%= turbo_frame_tag 'ingredient_form' do %>
        <%= render partial: 'ingredients/shared/form_ingredient' %>
      <% end %>
      <%= turbo_frame_tag "table_ingredients" do %>
        <%= render partial: 'recipes/shared/table_ingredients' %>
      <% end %>
      </div>
  </div>
</div>
