<div class='d-flex justify-content-center align-items-center'>
  <div class='row px-5'>
    <div class='col'>
      <div class="mb-3">
        <%= render partial: 'recipes/shared/form_recipe' %>
        <%= render partial: 'instructions/index/index' %>
      </div>
    </div>
    <div class='col'>
      <%= turbo_frame_tag 'ingredient_form' do %>
        <%= render partial: 'ingredients/shared/form_ingredient' %>
      <% end %>
      <%= turbo_frame_tag 'table_ingredients' do %>
        <%= render partial: 'recipes/shared/table_ingredients' %>
      <% end %>
      </div>
  </div>
</div>
