<div class='d-flex justify-content-center align-items-center'>
    <div class='card text-center'>
        <div class='card-header'>
            <h2><%= t('edit.profil') %> <%= @current_user.full_name %></h2>
        </div>
        <div class='card-body'>
            <%= simple_form_for :user, defaults: { required: false } do |f| %>
                <div class='row'>
                    <div class='col'>
                        <%= f.input :mail,
                            as: "email",
                            input_html: { 
                                class: 'form-control m-1',
                                required: true } %>
                    </div>
                </div>
                <div class='row'>
                    <div class='col'>
                        <%= f.input :firstname, input_html: { 
                            class: 'form-control m-1',
                            required: true } %>
                    </div>
                    <div class='col'>
                        <%= f.input :lastname, input_html: { 
                            class: 'form-control m-1',
                            required: true } %>
                    </div>
                </div>
                <div class='row'>
                    <div class='col'>
                        <%= f.input :password, input_html: {
                            class: 'form-control m-1',
                            required: true } %>
                    </div>
                    <div class='col'>
                        <%= f.input :password_confirmation, input_html: {
                            class: 'form-control m-1',
                            required: true } %>
                    </div>
                </div>
                <div class='input-group mb-3 d-flex justify-content-center'>
                    <%= f.button :submit, t('edit.update'),  class: 'btn btn-primary mt-3' %>                        
                </div>
            <% end %>
        </div>
    </div>
</div>