<div class='d-flex justify-content-center align-items-center' style="height: 80vh;">
    <div class='card-custom w-75'>
        <div class='border-top-radius card-header  text-center' style="background-color:#4a7de9; color:white; border-radius: 15px 15px 0 0;">
            <h2><%= t('forget_pass') %></h2>
        </div>
        <div class='card-body-custom d-flex justify-content-center glassmorphism' style='border-radius: 0 0 15px 15px; color:white'>
            <%= simple_form_for @user, url: password_path(@user.id), class: 'form-horizontal' do |f| %>
                <%= f.input :recover_password_token, as: 'hidden' %>
                
                <div class='input-group mb-3'>
                    <%= f.input :password, input_html: { class: 'form-control', required: true } %>
                </div>
                <div class='input-group mb-3'>
                    <%= f.input :password_confirmation, input_html: { class: 'form-control', required: true } %>
                </div>
                <div class='input-group mb-3 d-flex justify-content-center'>
                    <%= f.button :submit, t('new.send_token'),  class: 'btn btn-primary mt-2' %>
                </div>
            <% end %>
        </div>
    </div>
</div>